@font-face {
  font-family: Verdana-Regular;
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/scripts/css/fonts/Verdana-Regular.ttf");
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ul,
span,
strong,
th,
td,
ul,
li,
ol,
button {
  font-family: Verdana-Regular !important;
  word-spacing: 10px;
}
